global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'vpro-app-metrics'
    static_configs:
      - targets: ['vproapp:8080']

  - job_name: 'node-exporter'
    static_configs:
      - targets: ['node-exporter:9100']
~

